$gallery-total-gap-space: 20px;

body{
  main{
    width: (960px + $gallery-total-gap-space);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: ($gallery-total-gap-space/2);
    // div{
    img{
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    // }
  }
  // .hero {
  //   /* Photo by mnm.all on Unsplash */
  //   background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
  //   background-size: cover;
  //   padding: 4rem 2rem;
  //
  //   /* Grid styles */
  //   display: grid;
  //   align-items: center;
  //   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  // }
}
