body {
    margin: 0px auto;
    width: 100%;
    height: 3503px;

    .globalMain {
        margin: 0px auto;
        width: 1441px;
        border: 5px solid blue;

        @import "_section1.scss";


    }
}

/*     
    .about-section2-discovemusic_containGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;

        background-color: yellow;
        &__musicList{
            display: inline-block;
            padding: 10px;
        }

        div{
            background-color: burlywood;
            border: solid white;
            //width: ;
        }

    }

    .about-section3-latestRelease_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        figcaption{
            text-align: center;
        }
    }
} */
