.about-Main__DiscoverMusic{
    margin: 20px auto;
    padding-top: 60px;
    background-color: #f5f5f5;
    background-image: url(/public/img/bg-circle-2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 30rem;
    
    &__titleh1{
        text-align: center;
        color: black;
        padding-top: 60px;
        padding-bottom: 0px;
    }
    &__containerGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 55px;
        row-gap: 55px;

        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 0px;

        .DiscoverMusic__containerGrid__h2{
            font-size: 20px;
            color: black;
            padding-bottom: 10px;
            font-weight: bolder;
        }
        .DiscoverMusic__containerGrid__paragraph{
            font-size: 15px;
        }

        .containerGrid__article__rect-icon{
            float: left;
            width: 20px;
            height: 30px;
            padding: 20px;
        }
    }
}
