.about-dj {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5rem 0;
    &__figure, &__text-content {
        margin: auto;
        width: 90%;
    }
    &__figure {
        img {
            height: 100%;
            width: 100%;
            border-radius: 7px;
        }
    }
    &__text-content {
        &__heading {
            font-size: 1.5rem;
            font-weight: 700;
            padding: 2.1rem 0 1rem 0;
        }
        &__about {
            font-size: 0.9rem;
            font-weight: 200;
            line-height: 1.5rem;
            &__dj-quote {
                display: inline-block;
                padding: 1rem;
                font-size: 1.25rem;
                position: relative;
                line-height: 1.75rem;
                &::before {
                    position: absolute;
                    content: '"';
                    color: $purple;
                    opacity: 0.3;
                    font-size: 7rem;
                    font-weight: 300;
                    top: -1.55rem;
                    left: 0.47rem;
                    transform: rotate(180deg) skewX(160deg);
                    z-index: -1;
                }
            }
        }
    }
}
