.next-gig {
    display: flex;
    &__dark-pannel {
        margin: auto;
        background-color: $gray;
        width: 90%;
        border-radius: 5px;
        position: relative;
        top: -2.2rem;
        padding: 2rem 0;
        &__contents {
            margin: auto;
            width: 85%;
            color: $white-text;
            text-align: center;
            &__text-content {
                &__heading {
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-transform: capitalize;
                    padding-bottom: 0.75rem;
                }
                &__availability {
                    font-size: 0.9rem;
                    line-height: 1.5rem;
                    padding-bottom: 0.95rem;
                }
            }
            &__time {
                display: flex;
                justify-content: space-around;
                padding-bottom: 2rem;
                &__element {
                    font-weight: 500;
                    &:last-child {
                        display: none;
                    }
                    output {
                        font-size: 2.2rem;
                    }
                    p {
                        text-transform: uppercase;
                        font-size: 0.65rem;
                        padding-top: 0.5rem;
                    }
                }
            }
            &__button {
                @include button;
            }
        }
    }
}

// TABLET
@media all and (min-width: 768px) {
    .next-gig {
        &__dark-pannel {
            padding: 2.55rem 0;
            &__contents {
                width: 90%;
                &__time {
                    &__element {
                        &:last-child {
                            display: unset;
                        }
                        output {
                            font-size: 3.7rem;
                        }
                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

// DESKTOP
@media all and (min-width: 1024px) {
    .next-gig {
        &__dark-pannel {
            max-width: 1165.85px;
            &__contents {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__text-content {
                    text-align: left;
                    width: 12rem;
                    &__heading {
                        font-size: 2.1rem;
                    }
                    &__availability {
                        padding-bottom: 0;
                    }
                }
                &__time {
                    padding-bottom: 0;
                    justify-content: space-between;
                    width: 47%;
                    &__element {
                        output {
                            font-size: 4.5rem;
                        }
                        p {
                            font-size: 0.9rem;
                        }
                    }
                }
                &__button {
                    width: 12.5rem;
                }
            }
        }
    }
}
