.partners-sponsors {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/homepage-sponsors-background.jpg");
    background-position: -780px -345px;
    &__contents {
        margin: 0 auto;
        padding: 3.7rem 0;
        width: 90%;
        box-sizing: border-box;
        height: 19.5rem;
        display: flex;
        flex-direction: column;
        &__heading {
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: capitalize;
            color: $white-text;
            text-align: center;
        }
        &__interactive-block {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            &__partners-list {
                margin: 0 auto;
                display: flex;
                &__partner {
                    margin-bottom: 3.2rem;
                    &--hidden {
                        display: none;
                    }
                }
            }
            &__slider {
                margin: 0 auto;
                width: 45%;
                display: flex;
                justify-content: space-between;
                &__controller {
                    cursor: pointer;
                    width: .75rem;
                    height: .75rem;
                    border-radius: 50%;
                    background-color: darken($white-text, 50%);
                    opacity: 0.6;
                    &--active {
                        background-color: $purple;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
