.header {
    &__top-bar {
        background-color: $gray;
        display: flex;
        padding: 0.7rem 1.5rem 0.7rem 0.7rem;
        &__burger-menu {
            width: 2rem;
            display: flex;
            flex-direction: column;
            &__line {
                background-color: $white-text;
                height: 2px;
                margin: auto 0;
            }
        }
        &__dj-angerone-logo {
            width: 10rem;
            margin-left: 0.7rem;
        }
        &__more-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: auto;
            &__point {
                border-radius: 50%;
                background-color: $white-text;
                width: 0.37rem;
                height: 0.37rem;
            }
        }
    }
}

